<html>

<head>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <!--<script src="jquery.js"></script> -->

  <script>
      $(function() {
          $( "#datepicker" ).datepicker({
              changeMonth: true,
              changeYear: true,
              dateFormat: 'yy-mm-dd',
              dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
              dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
              dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
              monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
              monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
          });
      });

      $(function() {
          $( "#datepicker2" ).datepicker({
              changeMonth: true,
              changeYear: true,
              dateFormat: 'yy-mm-dd',
              dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
              dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
              dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
              monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
              monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
          });
      });

  </script>

</head>

<body>

<%= form_tag arps_path, :method => 'get' do %>

    <div class="container">
        <legend><h1>Busca Arp</h1></legend>

        <div class="field">
            <%= label_tag :search3, "De" %> <br>
            <%= text_field_tag  :search3,  params[:search3], :id=>'datepicker', :type=>"text"   %>
        </div>

        <div class="field">
            <%= label_tag :search4, "Até" %> <br>
            <%= text_field_tag  :search4, params[:search4], :id=>'datepicker2', :type=>"text"%>
        </div>

        <div class="field">
            <%= label_tag :search1, "Vlan" %> <br>
            <%= text_field_tag :search1, params[:search1], :type=>"text"  %>
        </div>

        <div class="field">
            <%= label_tag :search2, "Mac Address" %> <br>
            <%= text_field_tag :search2, params[:search2], :type=>"text" %>
        </div>

        <div class="field">
            <%= label_tag :search, "IP" %> <br>
            <%= text_field_tag :search, params[:search], :type=>"text" %>
        </div>

        <br>

        <div class="actions">
            <%= submit_tag "Buscar", :class => 'btn btn-primary'%>'
        </div>

    </div>

<% end %>

</body>


</html>