<html>
<head>

  <script>
$(function() {
    oTable = $('#arps').dataTable({
        "iDisplayLength": 12,
        "aaSorting": [[2,'desc']],
        "bPaginate": true,
        "sPaginationType":"full_numbers",
        "bJQueryUI":true,
        "bLengthChange":false,
        "bScrollCollapse": true,
        "oLanguage":{
            "sInfo":                "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoFiltered":        "Filtrado de _MAX_ registros no total",
            "sZeroRecords":         "Não foram encontrados resultados",
            "sInfoEmpty":           "",
            "sSearch":              "Buscar",
            "oPaginate": {
                "sFirst":           "Primeiro",
                "sPrevious":        "Anterior",
                "sNext":            "Próximo",
                "sLast":            "Ultimo"
            }
        }
    });
});
  </script>


</head>

<body>

<h1>TABELA ARP</h1>


<table  class="table table-bordered display"  id="arps">

  <thead>
  <tr>
    <th class="text-center">IP</th>
    <th class="text-center">Mac Address</th>
    <th class="text-center">Data Inicial</th>
    <th class="text-center">Data Final</th>
    <th class="text-center">Vlan</th>
  </tr>
  </thead>

  <tbody>
  <% @arps.each do |top| %>
      <tr>
        <td><%= top.ip %></td>
        <td><%= top.mac_address %></td>
        <td><%= top.dt_inicial %></td>
        <td><%= top.dt_final %></td>
        <td><%= top.vlan %></td>
      </tr>

  <% end %>
  </tbody>

</table>

<hr>

<%= link_to "Nova busca", busca_path, class: "btn btn-primary active" %>


</body>

</html>